.RightHeader {
    margin-bottom: 2.5rem;
    .menu {
        display: flex;
        align-items: center;
        .menuItem {
            margin-left: 1rem;
            .para {
                user-select: none;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 500;
                padding: 0.4rem 1.22rem;
                border-radius: .4rem;
                transition: 0.34s all;
                &:hover {
                    background-color: #272f3a;
                }
                .faBook, .faLineChart, .faRectangleList, .faShieldCat {
                    font-size: 1rem;
                    opacity: 0.8;
                    margin-right: 0.6rem;
                }
            }

            .projectNumber::after {
                content: '1';
                background-color: #343942;
                margin-left: 0.5rem;
                padding: 0.1rem 0.7rem;
                font-size: 0.85rem;
                border-radius: 30%;
                position: relative;
            }
        }
    }
}

@media screen and(max-width: 470px) {
    .faBook, .faLineChart, .faRectangleList, .faShieldCat {
        font-size: 0.8rem !important;
        margin-right: 0.4rem !important;
    }
    .para {
        font-size: 0.8rem !important;
    }
}


@media screen and (max-width: 704px) {
    .right {
        width: 100%;
    }
    .menu {
        text-align: center;
        justify-content: space-around;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 362px) {
    .faBook, .faLineChart, .faRectangleList, .faShieldCat {
        display: none;
    }
}