.RightOverview {
    padding: 1rem;
    border: 3px solid #21262d;
    border-radius: 0.5rem;
    box-sizing: border-box;
    .education {
        display: flex;
        flex-direction: column;
        position: relative;

        .educationCtn {
            display: flex;
            flex-direction: column;
            border-left: 2px solid #c9d1d9;
            justify-content: center;
        }
        .textEdu {
            margin-bottom: 1rem;
        }
        
        .educationBox {
            padding: 1rem 1rem;
            .tableCtn {
                padding: 1.3rem;
                width: fit-content;

                .hanhkiemtot {
                    margin-bottom: 1rem;
                }
            }
            .educationYear {
                padding-bottom: 0.4rem;
                display: block;
                position: relative;
                &::before {
                    content: '';    
                    display: block;
                    background-color: #c9d1d9;
                    width: 0.8rem;
                    height: 2px;
                    position: absolute;
                    top: 7px;
                    left: -16px;

                }
            }
            .des {
                font-size: 0.8rem;
            }
        }
    }
}