.RightProject {
    padding: 1.2rem;
    border: 3px solid #21262d;
    border-radius: 0.5rem;
    box-sizing: border-box;

    
    .projectCtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .projectItemLast {
            text-align: center;
            padding: 0.6rem 1rem;
            border-radius: 0.5rem;
            background-color: #0D1117;
            font-size: 0.9rem;
            border: 1px solid #afafaf;
            cursor: pointer;
            &::before {
                content: '';

            }
            &:hover {
                background-color: #21252b;
                opacity: 1;
            }
        }

        .projectItemFirst {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .descripttion {
                margin: 0.3rem 0;
                font-size: 0.9rem;
                color: #838486;
            }
            .projectItemFirstPL {
                font-size: 0.8rem;
                margin-top: 0.6rem;
                display: flex;
                align-items: center;
                &::before {
                    content: '';
                    display: block;
                    width: 15px;
                    border-radius: 50%;
                    height: 15px;
                    background-color: yellow;
                    margin-right: 5px;
                }
                &::after {
                    content: 'updated 12 days ago';
                    font-size: 0.8rem;
                    margin-left: 2rem;
                }
            }
            .projectName {
                color: #58a6ff;
                font-weight: 500;
                font-size: 1.23rem;
                display: flex;
                align-items: center;
                &::after {
                    content: 'public';
                    font-size: 0.8rem;
                    text-align: center;
                    display: block;
                    color: #afafaf;
                    font-weight: 300;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.2rem 0.9rem;
                    border: 1px solid #afafaf;
                    margin-left: 1rem;
                    border-radius: 2rem;
                }
            }
        }
    }
}