.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 90px;

}

.footer_left {
    height: fit-content;
    // background-color: pink;
}

.footer_right {
    padding-left: 6rem;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.VdnImg {
    cursor: pointer;
    width: 13rem;
    border-radius: 999px;
    margin: 20px 20px 30px 20px;
    box-shadow: 0px 0px 0px 6px white, 
                0px 0px 0px 9px rgb(44, 114, 255),
                0px 0px 0px 15px white, 

}

.footer_infor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text {
    font-weight: 600;
    color: #20e6b9;
    text-transform: uppercase;
}

.newpost_ctn {
    padding: 0px 0px;
}

.post {
    line-height: 1.6;
}

.socialIcon {
    font-size: 22px;
    opacity: 0.9;
    transition: 0.3s all;
    cursor: pointer;
}
.iconNe + .iconNe {
    margin-left: 20px;
}

.fbIcon, 
.githubIcon, 
.igIcon {
    &:hover {
        opacity: 1;
    }
}


.footer_xaoLon {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 26rem;
}


@media screen and (max-width: 1232px) { 
    .footer_infor {
        margin-bottom: 30px;
    }
    .footer_right {
        flex-direction: column;
    }
    .footer_xaoLon {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: start;
    }
    .footer_text {
        text-align: center;
        padding: 0;
        margin: 10px 0;
    }
}


@media screen and (max-width: 678px) { 
    .VdnImg {
        width: 150px;
    }
}

@media screen and (max-width: 576px) { 
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }
    .footer_right {
        padding: 0;
    }
}