
.left {
    user-select: none;
    width: 30%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .logo {
        width: 75%;
        border-radius: 50%;
    }
    .name {
        font-weight: 500;
        font-size: 1.5rem;
        margin: 1.3rem 0;
    }
    .social {
        width: 65%;
        border-radius: 0.5125rem;
        background-color: #21262d;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0.6rem 1rem;
    }
    .faFacebook, .faInstagram, .faYoutube, .faTwitter {
        font-size: 1.2rem;
        margin: 0 0.6rem;
        opacity: 0.6;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .line {
        width: 72%;
        height: 2px;
        margin-top: 1.4rem;
        background-color: #21262d;
    }
    .headings2 {
        font-size: 1.2rem;
    }

    .intro {
        width: 70%;
        text-indent: 1.5rem;
    }
}

@media screen and (max-width: 704px) {
    .left {
       width: 100%;
    }
    .logo {
        width: 25% !important;
        display: none;
    }
    .intro, .headings2 {
        display: none;
    }
    .social {
        width: 34% !important;
        margin: 1rem;
        padding: 0.4rem !important;
    }
    .name {
        margin-top: -1.5rem !important;
    }
    .faFacebook, .faInstagram, .faYoutube, .faTwitter {
        font-size: 1rem !important;
    }
}